name: CD Pipeline

vars:
  kubeconfig_path: /home/ubuntu/.kube/config

on:
  workflow_run:
    workflows: ["CI Pipeline"]  # Name of your CI workflow (ci.yml)
    types:
      - completed               # Trigger when CI finishes

jobs:
  Deploy:
      # Only run if CI was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:

    - name: Checkout code 
      uses: actions/checkout@v4

    # Log in to DockerHub
    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Push Docker image to DockerHub
    - name: Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:v2

    
    # Set up kubectl
    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        kubeconfig: ${{ kubeconfig_path }}

    # Rolling updates
    - name: Deploy to Kubernetes (Rolling Update)
      run: |
        kubectl set image deployment/weather-ml-app \
          weather-ml-app=${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:latest

        kubectl rollout status deployment/weather-ml-app --timeout=60s
